.wrapper {
  background: rgb(196, 216, 216);
  background: linear-gradient(
    180deg,
    rgba(196, 216, 216, 1) 0%,
    rgba(220, 227, 221, 1) 35%,
    rgba(248, 245, 240, 1) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 15px;
  .content {
    width: 100%;
  }
  .title {
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    span {
      padding-right: 30px;
    }
  }
}
