.oilService {
  padding: 16px;
  > div {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    > div {
      width: 40%;
    }
  }
  .addNew {
    width: 100%;
    height: 56px;
    background-color: #181c2a;
    color: #fff;
    border-radius: 10px;
    line-height: 27px;
    vertical-align: middle;
    text-align: center;
    margin-left: 10px;
  }
}
